$back-dark: #1A202C
$back-light: #EDF2F7
$component-light: #CBD5E0
$component-light-selected: #A0AEC0

$font-dark: #04112C
$font-dark-deemphasized: #4A5568

$front-off-white: #F7FAFC

$black: black

$approval-back-green: #C6F6D5
$approval-front-green: #48BB78
$approval-text-green: #22543D

$denial-back-red: #FED7D7
$denial-front-red: #F56565
$denial-text-red: #742A2A

$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

@mixin focus-outline($color)
    &:focus
        outline: 1px solid $color
    &::-moz-focus-inner
        border: none

@mixin focus-fill($color)
    &:focus
        width: 6px
        outline: none
        background-color: $color
    &::-moz-focus-inner
        border: none